*{padding: 0;

box-sizing: border-box;
color: blue;
background-color: #CFC;
}
h1{color: red;}
h2{color: #F00;}
.titulo-lista{
    color: #060;
}

.texto1{
    color: #F00;
    font-family: Verdana, sans-serif;
    font-size: 19px;
}
.b{font-size: 20px;}
#subrayado{
    color: aliceblue;
    background-color: black;
}
